{% extends 'rubrop/admin_base.html' %}

{% block content %}

<!-- SIDEBAR -->

<section id="sidebar">
    <a href="{% url 'management_event'%}" class="brand">
        <i class='bx bx-registered' ></i>
        <span class="text">RubropEventHub</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a href="{% url 'admin_hub_dashboard' event_id=event.event_id %}">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'admin_hub_storage' event_id=event.event_id %}">
                <i class='bx bxs-shopping-bag-alt'></i>
                <span class="text">Storage</span>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'admin_hub_details' event_id=event.event_id %}">
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Details</span>
            </a>
        </li>
        <li>
            <a href="{% url 'admin_hub_team' event_id=event.event_id %}">
                <i class='bx bxs-group'></i>
                <span class="text">Team</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'logout' %}" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>

<!-- SIDEBAR -->

<!-- CONTENT -->

<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu'></i>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
            </div>
        </form>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Details</h1>
                <ul class="breadcrumb">
                    <li>
                        <a class="active" href="{% url 'admin_hub_dashboard' event_id=event.event_id %}">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="{% url 'admin_hub_details' event_id=event.event_id %}">Details</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Event Details</h3>
                </div>
                <div class="event-details">
                    <p><strong>Eventname:</strong> {{ event.name }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Description:</strong> {{ event.description }}</p>
                    <p><strong>Event DateTime:</strong> {{ event.date_time|date:"F d, Y H:i" }}</p>
                    <!-- Displaying the event creator and staff members might require more logic -->
                </div>
            </div>
            <div class="todo">
                <div class="head">
                    <h3>Qrcode-Event</h3>
                </div>
                <div class="img--slider">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="data:image/png;base64,{{ qr_code }}" alt="Event QR Code">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>

<!-- CONTENT -->

{% endblock %}