<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubrop</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rubrop/css/login.css' %}">
</head>


<body>
    <div class="container" id="container">
    {%block content%}

    <div class="card2">
	    <p>Your password has been changed successfully. Please <a href="{% url 'login_signup_view' %}" class="text">Login</a></p>
    </div>
    </div>
</body>

{%endblock content%}